# Compiled and build artifacts
*.pyc
__pycache__/

# Logs and temp files
*.log
server.log

# Environment
.env
.env.local
.env.*

# Dependencies
*.egg-info/
*.dist-info/

client_secret_220338371168-u0pssafvjisbmtsu948ebhvm34uvon5n.apps.googleusercontent.com.json